/* Breakpoint Variables */

/* Size */
$breakpoint-mobile: 768px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 1216px;
$breakpoint-fullhd: 1408px;

/* Container Width */
$container-width-desktop: 960px;
$container-width-widescreen: 1152px;
$container-width-fullhd: 1344px;