/* Color Variables */

/* Primary */
$color-primary-10: #ffe388 !default;
$color-primary-20: #fecf28 !default;
$color-primary-30: #f9bd00 !default;

/* Blue */
$color-blue-10: #6ee7ea !default;
$color-blue-20: #20baba !default;
$color-blue-30: #0088FF !default;
$color-blue-40: #006CCA !default;
/* Green */
$color-green-10: #03d658 !default;
$color-green-20: #02a343 !default;

/* Pink */
$color-pink-10: #ffb6b6 !default;
$color-pink-20: #ff8888 !default;

/* Red */
$color-red-10: #ff5a2e !default;
$color-red-20: #d83509 !default;

/* Purple */
$color-purple-10: #9943d6 !default;
$color-purple-20: #8025c1 !default;

/* Purple */
$color-purple-10: #9943d6 !default;
$color-purple-20: #8025c1 !default;

/* Smoke */
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-grey-10: #f0f0f0 !default;
$color-grey-20: #333333 !default;
$color-grey-30: #bdbdbd !default;
$color-grey-40: #e0e0e0 !default;
$color-grey-50: #f6f6f6 !default;
$color-grey-60: #f6f5f5 !default;
