/* Elevation Variables */

/* Level */
$elevation-10: 0px 0px 0px 0px !default;
$elevation-20: 0px 2px 2px 0px !default;
$elevation-30: 2px 4px 8px 0px !default;
$elevation-40: 3px 6px 18px 4px !default;