/* Spacing Variables */

/* Size */
$spacing-size-10: 128px !default;
$spacing-size-20: 64px !default;
$spacing-size-30: 32px !default;
$spacing-size-40: 24px !default;
$spacing-size-50: 16px !default;
$spacing-size-60: 8px !default;
$spacing-size-70: 4px !default;