/* Typography Variables */

/* Family */
$typography-family: 'Montserrat', sans-serif !default;

/* Size */
$typography-size-heading-10: 42px !default;
$typography-size-heading-20: 32px !default;
$typography-size-heading-30: 24px !default;
$typography-size-heading-40: 20px !default;
$typography-size-heading-50: 18px !default;
$typography-size-paragraph-10: 16px !default;
$typography-size-paragraph-20: 14px !default;
$typography-size-paragraph-30: 12px !default;
$typography-size-paragraph-40: 10px !default;

/* Line Height */
$typography-lheight-heading-10: 48px !default;
$typography-lheight-heading-20: 38px !default;
$typography-lheight-heading-30: 30px !default;
$typography-lheight-heading-40: 28px !default;
$typography-lheight-heading-50: 24px !default;
$typography-lheight-paragraph-10: 22px !default;
$typography-lheight-paragraph-20: 20px !default;
$typography-lheight-paragraph-30: 18px !default;
$typography-lheight-paragraph-40: 16px !default;

/* Weight */
$typography-weight-regular: 400 !default;
$typography-weight-medium: 500 !default;
$typography-weight-semibold: 600 !default;
$typography-weight-bold: 700 !default;