/* Z-Index Variables */

/* Level */
$zindex-10: 0 !default;
$zindex-20: 1000 !default;
$zindex-30: 2000 !default;
$zindex-40: 3000 !default;
$zindex-50: 4000 !default;
$zindex-60: 5000 !default;
$zindex-70: 6000 !default;
$zindex-80: 7000 !default;
$zindex-90: 8000 !default;