@import '../../styles/token/constant';
@import '../../styles/token/mixin';
@import '../../styles/token/color';
@import '../../styles/token/typography';
@import '../../styles/token/spacing';
@import '../../styles/token/radius';
@import '../../styles/token/elevation';
@import '../../styles/token/animation';
@import '../../styles/token/zindex';

.form-section {
    &:before {
        content: "" !important;
        display: block !important;
        height: 136px !important;
        margin: -136px 0 0 !important;
    }
}

.#{$ns}-form {
    height: 730px;
    @include flex-set(flex, flex-end, center);

    &:after, &:before {
        background-color: $color-grey-20 !important;
        background-repeat: no-repeat !important;
        background-position: 0% 100% !important;
        background-size: 880px auto !important;
    }

    &--wrapper {
        @include flex-set(flex, flex-end, null);
    }
    
    &--card {
        width: 30%;
        flex-direction: column;
        @include flex-set(flex, null, null);
        @include margin-set(0, 32px, 0, 0);

        & h2 {
            width: 340px;
            text-transform: uppercase;
            color: $color-white;
            @include margin-set(0, 0, 32px, 0);
            @include font-set(32px, $typography-weight-bold, 38px);
        }
        
        & .field {
            @include margin-set(0, 0, 24px, 0);

            .label {
                color: $color-white;
                @include font-set(16px, $typography-weight-bold, 22px);
            }
            
            p {
                @include margin-set(0, 0, 0, 0);
                @include font-set(16px, $typography-weight-bold, 22px);
                
                a {
                    color: $color-black;
                    text-decoration: none;
                }
            }

            button {
                cursor: pointer;
                border-radius: 10px;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-black;
                background-color: $color-primary-20;
                @include margin-set(0, 0, 24px, 0);
                @include padding-set(16px, 64px, 16px, 64px);
                @include font-set(16px, $typography-weight-semibold, 22px);
                
                &:disabled {
                    cursor: not-allowed;
                    background-color: $color-primary-10;
                }
            }
        }
    }

    @media screen and (min-width: 1441px) {
        &--card {
            width: 40%;
        } 
    }

    @include widescreen-only {
        &:after, &:before {
            background-size: 800px auto !important;
        }
    }

    @include desktop-only {
        &:after, &:before {
            background-size: 640px auto !important;
        }

        &--card {
            width: 34%;
        }
    }
    
    @include tablet-only {
        &:after, &:before {
            background-size: 500px auto !important;
        }
        
        &--card {
            width: 38%;

            & h2 {
                width: 100%;
            }
        }
    }

    @include mobile {
        height: 900px;
        @include flex-set(flex, flex-end, flex-start);
        @include padding-set(64px, 32px, 64px, 32px);
        
        &:after, &:before {
            background-size: 360px auto !important;
        }

        &--card {
            width: 100%;
            @include margin-set(0, 0, 0, 0);

            & h2 {
                width: 100%;
                text-align: center;
                @include font-set(24px, $typography-weight-bold, 30px);
            }

            & .field {
                .label {
                    @include font-set(14px, $typography-weight-regular, 20px);
                }

                .control input {
                    &::-webkit-input-placeholder {
                        @include font-set(14px, $typography-weight-regular, 20px);
                    }
                    &::-moz-placeholder {
                        @include font-set(14px, $typography-weight-regular, 20px);
                    }
                    &:-ms-input-placeholder {
                        @include font-set(14px, $typography-weight-regular, 20px);
                    }
                    &:-moz-placeholder {
                        @include font-set(14px, $typography-weight-regular, 20px);
                    }
                }
                
                p {
                    @include font-set(14px, $typography-weight-bold, 20px);
                }

                button {
                    @include margin-set(0, auto, 0, auto);
                    @include padding-set(16px, 64px, 16px, 64px);
                    @include font-set(12px, $typography-weight-semibold, 18px);
                }
            }
        }
    }
}